<section>
    <div class="h3 bold text-center mt-4">
        <u>
            <ng-container [ngSwitch]="mode">
            <ng-container *ngSwitchCase="'view'">
                Visualizar
            </ng-container>
            <ng-container *ngSwitchCase="'edit'">
                Editar
            </ng-container>
            <ng-container *ngSwitchCase="'create'">
                Cadastrar
            </ng-container>
            </ng-container>
            produto
        </u>
    </div>

    <div mat-dialog-content class="mt-2 me-3">
        <form [formGroup]="formProduto" >
            <mat-form-field floatLabel="always" appearance="outline" class="mt-3">
                <mat-label> Nome Produto </mat-label>
                <input oninput="this.value = this.value.toUpperCase()" matInput placeholder="Nome" formControlName="name">
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label> Valor </mat-label>
                <input currencyMask [options]="{prefix: 'R$: ',thousands: '.', decimal: ',', align: 'left'}" matInput placeholder="R$: 1.000,00" formControlName="price">
            </mat-form-field>

            <mat-form-field floatLabel="always"appearance="outline">
                <mat-label>Categoria</mat-label>
                <mat-select placeholder="Categoria" formControlName="category">
                    <mat-option value="MASSAS">Massa</mat-option>
                    <mat-option value="CEREAIS">Cereais</mat-option>
                    <mat-option value="BAZAR">Bazar</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label> Estoque </mat-label>
                <input type="number" matInput  formControlName="stock">
            </mat-form-field>
        </form>

        <button class="w-100" color="primary" mat-flat-button *ngIf="mode !== 'view'" (click)="addProduto()">
            <mat-icon aria-hidden="false">save</mat-icon>
                Salvar
        </button>
        <button class="w-100" mat-flat-button *ngIf="mode === 'view'" (click)="changeToEdit()">
            <mat-icon aria-hidden="false">edit</mat-icon>
                Editar
        </button>
    </div>
</section>

