/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cursor-pointer{
  cursor: pointer;
}

.mat-table thead,.mat-table tbody,.mat-table tfoot, mat-header-row, mat-row, mat-footer-row,
[mat-header-row],[mat-row],[mat-footer-row],.mat-table-sticky {
  background: #fafafa !important;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}
  
.mat-row:hover {
    background-color: #d8d8d8 !important;
}
  
th.mat-header-cell {
    border-bottom-width: 0px;
}

.mat-header-cell {
    font-family: Roboto;
    font-weight: 900;
    font-size: 16px !important;
    line-height: 24px;
    color: #363636;
    letter-spacing: 0.05em;
    justify-content: center;
}  

.mdc-data-table__cell {
    overflow: unset !important;
}

.footer-row {
    background: #f4f4f4 !important;
    margin: 0 auto !important;
    border-top-width: 1.1px !important;
    border-top-style: solid !important;
    border-bottom-width: 1.1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #d8d8d8 !important;
    border-top-color: #d8d8d8 !important;
}
  
  .footer-row p {
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    margin: 4px 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-depp .mat-mdc-snack-bar-label {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .material-icons{
    font-size: 18px !important;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
    padding: 0.4em 0 0.8em !important;
  }

  .mat-mdc-form-field-infix{
    display: block ;
    min-height: 46px;
  }

  .mat-mdc-select-trigger{
    padding-top: 5px;
  }

.mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
    height: 46px;
}
.mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control{
  margin-top: 5px;
}

td:last-child.mat-column-acoes .mat-icon, td:last-child.mat-column-actions .mat-icon {
  margin-left: 8px;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  cursor: pointer;
} 

td:last-child.mat-column-acoes, td:last-child.mat-column-actions {
  padding: 0;
  text-align: center;
  //border: 0;
}

td:last-child.mat-column-acoes>.mat-icon, td:last-child.mat-column-actions>.mat-icon {
  font-size: 24px!important;
  margin-left: 9px;
  margin-right: 9px;
  width: 24px;
  height: 24px;
}

.tab-row-menu {
  margin-top: 2px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  top: 0;
  background-color: #363636;
  padding: 11px 10px;
  width: max-content;
  font-weight: 400;
  margin-right: 16px;
  right: 0;
  z-index: 1;
  border-radius: 8px;
  color: #fff;
}

.tab-row-menu .label-txt {
  color: #e5e5e5;
  display: inline-flex;
  border-right: 1px solid #ffffff;
  padding-right: 16px;
  padding-left: 8px;
  margin-right: 8px;
}

.tab-row-menu .cancel {
  margin-right: 8px;
  color: #e33e38;
}

.mat-mdc-table {  
  .mat-mdc-row {
    &:nth-child(odd){
      background-color: #f4f4f4 !important;
    }
    &:nth-child(even){
      background-color: #fff !important;
    }
  }

  .mat-mdc-header-row{
    .mat-mdc-header-cell{
      text-align: center;
    }
    .mat-column-actions{
      text-align: center;
      width: 150px;
    }
  }

  .mat-mdc-row {
    .mat-mdc-cell{
      text-align: center;
    }
  }   
}

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$hamburger-padding-x           : 0px !default;
$hamburger-padding-y           : 0px !default;
$hamburger-layer-width         : 25px !default;
$hamburger-layer-height        : 2px !default;
$hamburger-layer-spacing       : 5px !default;
$hamburger-layer-color         : #9b9ea2 !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;

@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import './assets/lightning-admin';